.gameTile {
  height: 265px;
  width: 300px;
  display: grid;
  place-items: center;
  text-align: center;
  /* Add some padding inside the card container */
  padding: 20px;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.gameTile:hover {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-8px);
}

.gameTile p {
  margin: 16px 0;
}

.gameTile .title {
  font-size: 24px;
  font-weight: 600;
}

.gameTile .desc {
  font-size: 18px;
}
