.navbar {
  width: auto;
  background-color: #8fbc8f;
  overflow: auto;
}
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.61);
}
