.container {
  text-align: center;
  background-color: #ebe5e5;
  font-size: 2em;
  /* BEGIN LAYOUT */
  height: 100%;
  display: grid;
  grid:
    [row1-start] 'game game' 40% [row1-end]
    [row2-start] 'info info' 60% [row2-end]
    / auto auto;
}
.game {
  grid-area: game;
  background: rgb(43, 135, 209);
  position: relative;
  color: white;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.game-content {
  margin: 5rem 2rem;
  width: 60%;
  animation-name: slideFadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
.start-button {
  padding: 10px 20px;
  background: rgb(255, 209, 84);
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: inherit;
  color: rgb(51, 51, 51) !important;
  cursor: pointer;
}
.start-button:hover {
  background-color: white;
}
/* info container */
.info {
  display: flex;
  padding: 67px;
  margin: 177px;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
}
/* tile holder  */
.tile-holder {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}
/* larger tile  */
.info-tile {
  position: relative;
  height: 500px;
  width: 500px;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 5px;
  display: flex;
  padding: 30px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 5px;
  transition: 0.3s;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.info-tile p {
  margin: 16px 0;
}

.info-tile .info-title {
  font-size: 24px;
  font-weight: 600;
  color: black;
}
/* Smaller tile */
.other-info-tile {
  position: relative;
  height: 500px;
  width: 300px;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 5px;
  display: flex;
  padding: 30px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 5px;
  transition: 0.3s;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
.other-info-tile .other-info-title {
  font-size: 24px;
  font-weight: 600;
  color: black;
}
